.notification {
    position: fixed;
    bottom: 150px;
    right: 0;
    background-color: var(--orange);
    padding: 10px;
    animation: slide 0.5s ease-in-out backwards;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: none;
    }
}

.notification p {
    color: white;
}

.notification.visable {
    transform: none;
}