.login-input {
    font-size: 1.5rem;
    border: 1px solid var(--light-text);
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: min(500px, 95vw);
    gap: 20px;
}

.page {
    display: grid;
    place-content: center;
    height: 100vh;
}