.home-hero-text {
    max-width: 16ch;
    font-size: 6rem;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
}

.home-hero-subtext {
    font-weight: lighter;
    font-size: 2rem;
}