.article-card {
    border: 1px solid rgb(184, 183, 183);
    border-radius: 15px;
    box-shadow: 0px 8px 10px var(--shadow);
    cursor: pointer;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    row-gap: 0;
    overflow: hidden;
    transition: border 0.2s ease-in-out;
}

.article-card:hover {
    border: 1px solid var(--orange);
}

.home-article-card-image {
    object-fit: cover;
    width: 100%;
    max-height: 150px;
}

.home-article-card-title {
    font-size: var(--m);
    font-weight: 700;
}

.home-article-card-meta-wrapper {
    width: 85%;
    margin-inline: auto;
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.home-article-card-date {
    font-weight: 200;
    font-family: 'Inter';
    margin-top: auto;
    text-wrap: nowrap;
}

.home-article-card-button {
    width: 100%;
}

.date-like-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.love {
    font-size: 22px;
}

.love,
.love-red:hover {
    transform: scale(1.1);
}

.love-red {
    font-size: 22px;
    color: var(--orange);
}