.editor-menu {
    width: min-content;
    margin-left: auto;
    margin-bottom: 20px;
}

.title-input {
    border: 2px solid var(--text);
    background-color: #222F3E;
    width: 100%;
    font-size: var(--xl);
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 10px;
}

.title-input:focus {
    outline: none;
}

.window {
    border: 1px solid black;
    position: absolute;
    background-color: var(--bg);
    z-index: 2000;
    padding: 1px;
    min-height: 800px;
}

.window button {
    display: block;
    margin-left: auto;
}